<div class="create-category-container">
  <h2>Create Category</h2>
  
  <div class="data-container">
    <h3>{{'createCategory.name.heading' | translate }}</h3>
    <app-text-input placeholderText="{{'createCategory.name.placeholder' | translate}}"
                  [(value)]="category.name"
                  (change)="onDataChange()"></app-text-input>
  </div>

  <h3>{{'createCategory.name.heading' | translate }}</h3>
  <mat-form-field>
    <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" placeholder="Color code">
    <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
    <ngx-mat-color-picker #picker [color]="color"></ngx-mat-color-picker>
  </mat-form-field>

  <div class="steward-actions">
    <button class="button" [ngClass]="{'disabled': !isDataValid()}" (click)="publishCategory()">{{'createCategory.save' | translate}}</button>
  </div>

  
</div>