<form-wrapper>
  <div class="data-container">
    <h3>{{'createCategory.name.heading' | translate }}</h3>
    <app-text-input placeholderText="{{'createCategory.name.placeholder' | translate}}"
                  [(value)]="category.name"
                  (change)="onDataChange()"></app-text-input>
  </div>

  <div class="data-container">
    <h3>{{'createCategory.color.heading' | translate }}</h3>
    <input class="input-text" [(colorPicker)]="category.colour" [style.background]="category.colour" [value]="category.colour" placeholder="{{'createCategory.color.placeholder' | translate}}">
  </div>

  <div class="form-actions">
    <button class="form-actions__save" [ngClass]="{'disabled': !isDataValid()}" (click)="publishCategory()" [disabled]="!isDataValid()">{{'createCategory.save' | translate}}</button>
  </div>
</form-wrapper>

<app-loading [showLoading]="saving" [state]="'saving'" [overlay]="true"></app-loading>