<div class="details__container" *ngIf="dataSet">
  <div class="details__main-container">
    <h1>{{dataSet.name}}</h1>

    <app-tags-list [tags]="dataSet.categories"></app-tags-list>

    <section class="details__section">
      <h2> {{"details.description" | translate}} </h2>
      <p>
        {{ dataSet.description }}
      </p>
    </section>

    <section class="details__section">
      <h2> {{"details.relations" | translate}} </h2>
      <app-relation-mapper [dataCard]="dataSet"></app-relation-mapper>
    </section>

    <section class="details__section">
      <h2> {{"details.transformation" | translate}} </h2>
      <div *ngIf="dataHandlerService.currentTransformation">
        {{dataHandlerService.currentTransformation.description}}
      </div>
      <div *ngIf="!dataHandlerService.currentTransformation">
        {{'details.sourceData' | translate}}
      </div>
    </section>

    <section class="details__section">
      <h2> {{"details.dataFields.heading" | translate}} </h2>
      <app-data-field-display [dataFields]="dataSet.dataFields"></app-data-field-display>
    </section>

  </div>



<!--  Side Container-->

  <div class="details__side-container">

    <div class="details__actions">
      <button class="details__actions-edit button" (click)="editDataSet()" *ngIf="(userHasDataStewardRole$ | async)">
        <i class="material-icons-outlined" > edit </i>
      </button>
      <button class="details__actions-promote-to-stock button" (click)="promoteDatasetToStock()" *ngIf="dataSet.refinementLevel == 0 && (userHasDataStewardRole$ | async)">
        <i class="material-icons-outlined" > upgrade </i>
      </button>
    </div>

    <div class="details__master-data">
      <h2>{{ 'details.side.about' | translate }}</h2>

      <ul class="details__data-list">
        <li class="master-data" *ngIf="dataSet.contact">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> phone </i>
            <div class="master-data-field__comment">{{ 'details.side.contact' | translate }}</div>
          </div>
          <ul class="details__data-list">
            <li>{{dataSet.contact.name}}</li>
            <li>{{dataSet.contact.description}}</li>
            <li>{{dataSet.contact.email}}</li>
          </ul>
        </li>

        <li class="master-data" *ngIf="dataSet.owner">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> home </i>
            <div class="master-data-field__comment">{{ 'details.side.owner' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{dataSet.owner}}
          </div>
        </li>

        <li class="master-data" *ngIf="confidentiality">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> lock_open </i>
            <div class="master-data-field__comment">{{ 'details.side.security' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{confidentiality.description}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.slaDescription">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> assignment </i>
            <div class="master-data-field__comment">{{ 'details.side.slaDescription' | translate }}</div>
          </div>
          <div class="master-data__data">
          {{dataSet.slaDescription}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.slaLink">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> link </i>
            <div class="master-data-field__comment">{{ 'details.side.slaLink' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{dataSet.slaLink}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.resolution" [title]="dataSet.resolution.description">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> timer </i>
            <div class="master-data-field__comment">{{ 'details.side.resolution' | translate }}</div>
          </div>
          <div class="master-data__data">
          {{dataSet.resolution.code}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.frequency"  [title]="dataSet.frequency.description">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> av_timer </i>
            <div class="master-data-field__comment">{{ 'details.side.frequency' | translate }}</div>
          </div>
          <div class="master-data__data">
          {{dataSet.frequency.code}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.version">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> create </i>
            <div class="master-data-field__comment">{{ 'details.side.version' | translate }}</div>
          </div>
          <div class="master-data__data">
          v. {{dataSet.version}}<span *ngIf="dataSet.modifiedDate"> - ({{formatDateFromIsoString(dataSet.modifiedDate)}})</span>
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.id">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment">{{ 'details.side.id' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{ dataSet.id}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.status || dataSet.status === 0">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> public </i>
            <div class="master-data-field__comment">{{ 'details.side.status.title' | translate }}</div>
          </div>
          <div class="master-data__data" [ngSwitch]="dataSet.status">
            <div *ngSwitchCase="0">
              <span> {{'dataCard.draft' | translate}}</span>
            </div>
            <div *ngSwitchCase="1">
              <span> {{'dataCard.published' | translate}} </span>
            </div>
            <div *ngSwitchCase="2">
              <span> {{'dataCard.archived' | translate}} </span>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="details__master-data"  *ngIf="showNeptunDataAccessDescription" >
      <h2>{{ 'details.dataaccess.title' | translate }}</h2>
      <ul class="details__data-list">
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> info </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.information' | translate }}
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> info </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.detailed.information' | translate }} <a href="https://learning.postman.com/docs/getting-started/introduction/">{{ 'details.dataaccess.detailed.documentationlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.download' | translate }} <a href="https://www.postman.com/downloads/">{{ 'details.dataaccess.postman.downloadlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.environment' | translate }} <a href="../../../assets/dataaccess/API Gateway._environment.json" download>{{ 'details.dataaccess.postman.environmentlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.collection' | translate }} <a href="../../../assets/dataaccess/Dataplatform.neptun_collection.json" download>{{ 'details.dataaccess.postman.collectionlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.apikey' | translate }} <a href="mailto:jnu@energinet.dk">{{ 'details.dataaccess.postman.apikeylink' | translate }}</a>.
          </div>
        </li>
      </ul>
    </div>




    <div class="details__master-data" *ngIf="showGtmsDataAccessDescription">
      <h2>{{ 'details.dataaccess.title' | translate }}</h2>
      <ul class="details__data-list">
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> info </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.information' | translate }}
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> info </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.detailed.information' | translate }} <a href="https://learning.postman.com/docs/getting-started/introduction/">{{ 'details.dataaccess.detailed.documentationlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.download' | translate }} <a href="https://www.postman.com/downloads/">{{ 'details.dataaccess.postman.downloadlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.environment' | translate }} <a href="../../../assets/dataaccess/API Gateway.gtms_environment.json" download>{{ 'details.dataaccess.postman.environmentlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.collection' | translate }} <a href="../../../assets/dataaccess/Dataplatform.gtms_collection.json" download>{{ 'details.dataaccess.postman.collectionlink' | translate }}</a>
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            {{ 'details.dataaccess.postman.apikey' | translate }} <a href="mailto:jnu@energinet.dk">{{ 'details.dataaccess.postman.apikeylink' | translate }}</a>.
          </div>
        </li>
        <li class="master-data">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment"></div>
          </div>
          <div class="master-data__data">
            Direct data link: <a href="https://dpapi-gateway-prod.azure-api.net/gas/gtms/Items/{{dataSet.id}}/?FromDate=2021-02-02&ToDate=2021-02-03&x-api-version=2.0" target="_blank"> data </a>.
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="details__member-container" *ngIf="(userHasDataStewardRole$ | async)">
    <app-access-list [datasetId]="dataSet.id"></app-access-list>
  </div>
</div>

<div class="details__container loading" *ngIf="!dataSet">
  <app-loading [showLoading]="!dataSet"></app-loading>
</div>
