<div class="details__container" *ngIf="dataSet">
  <div class="details__main-container">
    <h1>{{dataSet.name}}</h1>

    <app-tags-list [tags]="dataSet.categories"></app-tags-list>

    <section class="details__section">
      <h2> {{"details.description" | translate}} </h2>
      <p>
        {{ dataSet.description }}
      </p>
    </section>

    <section class="details__section">
      <h2> {{"details.relations" | translate}} </h2>
      <app-relation-mapper [dataCard]="dataSet"></app-relation-mapper>
    </section>

    <section class="details__section">
      <h2> {{"details.transformation" | translate}} </h2>
      <div *ngIf="dataHandlerService.currentTransformation">
        {{dataHandlerService.currentTransformation.description}}
      </div>
      <div *ngIf="!dataHandlerService.currentTransformation">
        {{'details.sourceData' | translate}}
      </div>
    </section>

    <section class="details__section">
      <h2> {{"details.dataFields.heading" | translate}} </h2>
      <app-data-field-display [dataFields]="dataSet.dataFields"></app-data-field-display>
    </section>

  </div>



<!--  Side Container-->

  <div class="details__side-container">

    <div class="details__actions">
      <button class="details__actions-edit button" (click)="editDataSet()" *ngIf="(userHasDataStewardRole$ | async)">
        <i class="material-icons-outlined" > edit </i>
      </button>
      <button class="button" (click)="deleteDataset()" *ngIf="(userHasDataStewardRole$ | async)">
        <i class="material-icons-outlined" > delete </i>
      </button>
    </div>

    <div class="details__master-data">
      <h2>{{ 'details.side.about' | translate }}</h2>
  
      <ul class="details__data-list">
        <li class="master-data" *ngIf="dataSet.contact">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> phone </i>
            <div class="master-data-field__comment">{{ 'details.side.contact.title' | translate }}</div>
          </div>
          <ul class="details__data-list">
            <li>{{'details.side.contact.header' | translate}}</li>
            <li>
              <span>{{ 'details.side.contact.link' | translate }} </span>
              <a [href]="dataSet.contact.link">{{ 'details.side.contact.linkText' | translate}}</a>
            </li>
            <li>
              <span>{{ 'details.side.contact.mail' | translate }} </span>
              <a href="mailto: {{dataSet.contact.email}}">{{ dataSet.contact.email }}</a>
            </li>
          </ul>
        </li>

        <li class="master-data" *ngIf="dataSet.owner">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> home </i>
            <div class="master-data-field__comment">{{ 'details.side.owner' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{dataSet.owner}}
          </div>
        </li>

        <li class="master-data" *ngIf="confidentiality">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> lock_open </i>
            <div class="master-data-field__comment">{{ 'details.side.security' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{confidentiality.description}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.slaDescription || dataSet.serviceLevelAgreement?.name">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> assignment </i>
            <div class="master-data-field__comment">{{ 'details.side.slaDescription' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{dataSet.slaDescription ? dataSet.slaDescription : dataSet.serviceLevelAgreement.name}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.slaLink || dataSet.serviceLevelAgreement?.link">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> link </i>
            <div class="master-data-field__comment">{{ 'details.side.slaLink' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{dataSet.slaLink ? dataSet.slaLink : dataSet.serviceLevelAgreement.link}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.resolution" [title]="dataSet.resolution.code">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> timer </i>
            <div class="master-data-field__comment">{{ 'details.side.resolution' | translate }}</div>
          </div>
          <div class="master-data__data">
          {{dataSet.resolution.description}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.frequency"  [title]="dataSet.frequency.code">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> av_timer </i>
            <div class="master-data-field__comment">{{ 'details.side.frequency' | translate }}</div>
          </div>
          <div class="master-data__data">
          {{dataSet.frequency.description}}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.version">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> create </i>
            <div class="master-data-field__comment">{{ 'details.side.version' | translate }}</div>
          </div>
          <div class="master-data__data">
          v. {{dataSet.version}}<span *ngIf="dataSet.modifiedDate"> - ({{formatDateFromIsoString(dataSet.modifiedDate)}})</span>
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.id">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> label </i>
            <div class="master-data-field__comment">{{ 'details.side.id' | translate }}</div>
          </div>
          <div class="master-data__data">
            {{ dataSet.id }}
          </div>
        </li>

        <li class="master-data" *ngIf="dataSet.status || dataSet.status === 0">
          <div class="master-data-field__container">
            <i class="material-icons-outlined"> public </i>
            <div class="master-data-field__comment">{{ 'details.side.status.title' | translate }}</div>
          </div>
          <div class="master-data__data">
            <span> {{GetDatasetStatusName() | translate}} </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="details__master-data">
      <h2>{{ 'details.side.access.title' | translate }}</h2>
      <p class="master-data-field__comment">
        {{ 'details.side.access.python.description1' | translate }}
        <a href="https://dp-prod.westeurope.cloudapp.azure.com/osiris-egress/docs"> egress API.</a>
        {{ 'details.side.access.python.description2' | translate }}
      </p>
      <li>
        <a href='https://github.com/Open-Dataplatform/examples'>{{ 'details.side.access.python.link' | translate }}</a>
      </li>
      <br/>
      <p class="master-data-field__comment">{{ 'details.side.access.python.servicePrincipal' | translate }}</p>
      <li>
        <a href='https://dev.azure.com/energinet/ENDK/_wiki/wikis/ENDK.WIKI/10060/Service-Principal-Creation'>{{ 'details.side.access.python.servicePrincipalLink' | translate }}</a>
      </li>
      <br/>
      <p class="master-data-field__comment">{{ 'details.side.access.token.description' | translate }}</p>
      <div class="details__token-container" *ngIf="(oboToken$ | async) as token">
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMaxRows="2"
                  class="token__textarea"
                  value="{{ token }}">
        </textarea>
        <button class="mat-icon-button" (click)="copyToClipBoard()" matTooltip="{{ 'details.side.access.token.copyButton' | translate}}">
          <mat-icon class="token__copy-icon">content_copy</mat-icon>
        </button>
      </div>
      <button id="getOboTokenButton" class="token__get-token-button" (click)="getOboToken()">{{ 'details.side.access.token.getButton' | translate }}</button>
    </div>
  </div>

  <div class="details__member-container" *ngIf="(userHasDataStewardRole$ | async)">
    <app-access-list [datasetId]="dataSet.id"></app-access-list>
  </div>
</div>

<div class="details__container loading" *ngIf="!dataSet">
  <app-loading [showLoading]="!dataSet"></app-loading>
</div>
