
<div class="data-container">
  <h3>{{'dataSteward.about.contact.heading' | translate}}</h3>
  <ng-select [items]="contacts$ | async"
             placeholder="{{'dataSteward.about.contact.whoToContact' | translate}}"
             [ngClass]="{'filled': data.contact}"
             bindLabel="name"
             (change)="onChange()"
             [(ngModel)]="data.contact">
  </ng-select>

</div>
<div class="data-container">
  <h3>{{'dataSteward.about.confidentiality.heading' | translate}}</h3>
  <ng-select [items]="confidentiality$ | async"
             placeholder="{{'dataSteward.about.confidentiality.securityLevel' | translate}}"
             [ngClass]="{'filled': data.confidentiality}"
             bindLabel="description"
             bindValue="id"
             (change)="onChange()"
             [(ngModel)]="data.confidentiality">
  </ng-select>
</div>

<div class="data-container">
  <h3>{{'dataSteward.about.resolution.heading' | translate}}</h3>
  <ng-select [items]="durations$ | async"
             placeholder="{{'dataSteward.about.resolution.resolution' | translate}}"
             [ngClass]="{'filled': data.resolution}"
             bindLabel="description"
             (change)="onChange()"
             [(ngModel)]="data.resolution"></ng-select>
</div>

<div class="data-container">
  <h3>{{'dataSteward.about.updateFrequency.heading' | translate}}</h3>
  <ng-select 
    [items]="durations$ | async"
    placeholder="{{'dataSteward.about.updateFrequency.frequency' | translate}}"
    [ngClass]="{'filled': data.frequency}"
    bindLabel="description"
    (change)="onChange()"
    [(ngModel)]="data.frequency">
  </ng-select>
</div>

<div class="data-container">
  <h3>{{'dataSteward.about.sla.heading' | translate}}</h3>
  <ng-select 
    [items]="serviceLevelAgreements"
    [ngClass]="{'filled': data.serviceLevelAgreement}"
    bindLabel="name"
    (change)="onChange()"
    [(ngModel)]="data.serviceLevelAgreement">
  </ng-select>
</div>

<div class="data-container">
  <h3>{{'dataSteward.about.creationDate.heading' | translate}}</h3>
  <div class="creation-date__date">
    {{data.createdDate ? formatTime(data.createdDate.toISOString()) : formatTime(currentDate)}}
  </div>
</div>


<div class="form-actions">
  <button class="form-actions__save" [ngClass]="{'disabled': !isDataExisting()}" (click)="publishDataSet()">{{'dataSteward.save' | translate}}</button>
</div>

<app-loading [showLoading]="saving" [state]="'saving'" [overlay]="true"></app-loading>