<div class="login__wrapper">

  <section class="login-input container">
    <h1>{{'header.login' | translate }}</h1>

    <div class="login-input__container">
      <button class="login__login-button" (click)="login()">{{'header.login' | translate }}</button>
      <br>
      <br>
      <button class="login__login-button" (click)="logout()">{{'header.logout' | translate }}</button>
    </div>
  </section>
  <section class="login-content container" id="particles-js">
    <div class="particles-wrapper">
    </div>
    <div class="login__logo">
      ENERGINET
    </div>
    <div class="login__product">
      DataPlatform
    </div>
  </section>

</div>
